/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Uncomment this block if using RGB

&led_strip { chain-length = <10>; };

/ {
    macros {
        Excla: Excla {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LSHFT &kp N1>;
            label = "EXCLA";
        };

        changeScreen: changeScreen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp LEFT_ALT &kp NUMBER_1>;
            label = "CHANGESCREEN";
        };

        fullScreen: fullScreen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp LEFT_ALT &kp ENTER>;
            label = "FULLSCREEN";
        };

        a_grave: a_grave {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp RALT &kp GRAVE &kp A>;  // Compose, `, a
    label = "A_GRAVE";
};

e_acute: e_acute {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp RALT &kp SQT &kp E>;  // Compose, ', e
    label = "E_ACUTE";
};

e_grave: e_grave {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp RALT &kp GRAVE &kp E>;  // Compose, `, e
    label = "E_GRAVE";
};

e_circumflex: e_circumflex {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp RALT &kp CARET &kp E>;  // Compose, ^, e
    label = "E_CIRCUMFLEX";
};

u_grave: u_grave {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp RALT &kp GRAVE &kp U>;  // Compose, `, u
    label = "U_GRAVE";
};

c_cedilla: c_cedilla {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <&kp RALT &kp COMMA &kp C>;  // Compose, ,, c
    label = "C_CEDILLA";
};
    };

    behaviors {
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Home {
            bindings = <&kp LC(GRAVE)>;
            key-positions = <57>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  BKSP |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   \   |
            // | LCTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |  ENT  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | APOS  |
            //               |CTRL | ALT  | GUI  | SPACE|  LOWER |  | RCTRL | LARW | DARW  | UARW  | RARW |

            bindings = <
&a_grave       &e_acute    &e_grave      &e_circumflex &u_grave    &c_cedilla                        &kp DEL &trans        &trans     &trans           &trans    &kp EQUAL
&kp PLUS       &kp Q       &kp W         &kp E         &kp R       &kp T                             &kp Y   &kp U         &kp I      &kp O            &kp P     &kp PIPE
&kp ESC        &bhm LGUI A &bhm LCTRL S  &bhm LALT D   &bhm LSHIFT F &kp G                           &kp H   &bhm RSHIFT J &bhm LALT K &bhm RCTRL L    &bhm RGUI SEMI &kp RET
&kp MINUS      &kp Z       &kp X         &kp C         &kp V       &kp B      &trans      &trans     &kp N   &kp M         &kp COMMA  &kp DOT          &kp FSLH  &kp UNDER
                           &trans        &kp EQUAL       &kp TAB    &lt 2 SPACE &lt 1 BSPC   &kp RET   &kp SQT &kp GRAVE      &kp GRAVE     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            bindings = <
&trans     &trans        &trans       &trans       &trans        &trans                            &trans    &trans    &trans  &trans     &trans  &trans
&trans     &kp F1        &kp F2       &kp F3       &kp F4        &kp F5                            &kp F6    &kp F7    &kp F8  &kp F9     &kp F10 &trans
&trans     &kp C_PREV    &kp C_NEXT   &kp C_VOL_DN &kp C_VOL_UP  &kp C_PP                          &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &kp F11 &trans
&trans     &bt BT_SEL 0  &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3  &bt BT_SEL 4  &trans    &trans    &trans    &trans    &trans  &trans     &kp F12 &trans
                         &trans       &kp LGUI     &trans        &kp SPACE     &kp RET   &trans    &trans    &trans    &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            bindings = <
&trans  &trans   &trans  &trans    &trans    &trans                           &trans    &trans    &trans           &trans    &trans    &trans
&trans  &kp EXCL &kp AT  &kp HASH  &kp DLLR  &kp PRCNT                        &kp CARET &kp AMPS  &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &trans
&trans  &kp N1   &kp N2  &kp N3    &kp N4    &kp N5                           &kp N6    &kp N7    &kp N8           &kp N9    &kp N0    &trans
&trans  &kp ESC  &kp PLUS &kp MINUS &kp EQUAL &kp UNDER  &trans     &trans    &kp LBKT  &kp RBKT  &kp BSLH         &kp LBRC  &kp RBRC  &kp TILDE
                 &trans  &trans    &trans    &trans      &trans     &trans    &trans    &trans    &trans           &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};